.dark {
  --accent: #98a4f5; /* lavender */
  --green: #90d05a; /* green */
  --text: #becaf9; /* text */
  --foreground: #13131a; /* crust */
  --background: #1f202d; /* base */
  --outside: #13131a; /* crust */
  --post: #13131a; /* crust */
  --panel-border: none;
  --highlighted: #2f3145; /* surface0 */
  --visited: #526296; /* overlay0 */
  --shadow: 0 0 0 transparent;

  --nsfw: #ff9856; /* peach */
  --admin: #ff8bb3; /* maroon */
}
